body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

/* Side Navigation Bar */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8B0000;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
}

.sidenav a:hover {
    background-color: #800000;
    color: #fff;
}

.main {
    margin-left: 250px; /* Same width as the sidebar */
    padding: 0px 10px;
}

/* Header */
.header {
    background-color: #8B0000;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

/* Cards */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 500px;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidenav a {
        float: left;
        padding: 15px;
    }

    .main {
        margin-left: 0;
    }
}