<!DOCTYPE html>
<html>
<head>
	<title>Programs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	
</head>
<body>

	<!-- Side Navigation Bar -->
	<div class="sidenav">
		<a href="#" class="active"><span class="fa fa-tachometer"></span> Dashboard</a>
		<a href="#"><span class="fa fa-sign-out"></span> Logout</a>
	</div>

	<!-- Main content -->
	<div class="main">
		<div class="header">WELCOME TO CICT</div>

		<div class="card">
			<!-- <h3>Welcome, {{fullname}}!</h3>
			<p>Email: {{email}}</p>
			<p>Contact: {{contact}}</p>
			<p>Department: {{department}}</p> -->
		</div>


		<div class="card">
			<div class="row">

			<div class="column">
				<div class="cards">
					<h3 style="text-align:left;">PROGRAM</h3>
				     <iframe src="http://localhost/NEWPROJ-MAIN/controller/facultyprogram.php" style="width:100%;height:590px;border:none;"></iframe>
				</div>
			  </div>

			  <!-- // POST : http://localhost:3002/UploadProgram
			  // {
			  //     "program_title":"WHAT DOESNT KILL YOU MAKES YOU STRONGER",
			  //     "start":"2023-04-22 14:30:00",
			  //     "end":"2023-04-22 14:30:00",
			  //     "place":"BULACAN",
			  //     "program_details":"program_details",
			  //     "program_lead":"program_lead",
			  //     "program_member":"program_member"   
			  // } -->
			
			  
		  </div>
	 </div>
		  

		
	</div>

</body>
</html>
